<h1 id="getting-started">Getting Started</h1>

<p class="header">With nodejs:</p>
<p>Create your project using this <a href="./dist/package.json">package.json</a>. After downloaded, run <code class="prettyprint">npm install</code> and start writing your application:</p>
{% highlight js %}
var ITSA = require('itsa'){% if page.itsaclassname %},
    {{ page.itsaclassname }} = ITSA.{{ page.itsaclassname }}{% endif %};{% if page.extracodefirstpar %}
{{ page.extracodefirstpar }}{% endif %}
{% endhighlight %}

<p class="header">In the browser:</p>
{% include loader.html %}

{% highlight js %}
<script>
    {% if page.itsaclassname %}var {{ page.itsaclassname }} = ITSA.{{ page.itsaclassname }};{% endif %}{% if page.extracodefirstpar %}
    {{ page.extracodefirstpar }}{% endif %}
</script>
{% endhighlight %}
