<h1 id="getting-started">Getting Started</h1>

<p class="header">With nodejs:</p>
<p>Create your project using this <a href="./dist/package.json">package.json</a>. After downloaded, run <code class="prettyprint">npm install</code> and start writing your application:</p>
{% highlight js %}
var window = require('node-win'),
    {{ page.itsaclassname }} = require('{{ page.module }}')(window);
{% endhighlight %}
<p>
    Because <code class="prettyprint">{{ page.module }}</code> is an isomorphic module that needs the <code class="prettyprint">window</code>-object, you need to pass through the module <code class="prettyprint">node-win</code>.
</p>
<p class="header">In the browser:</p>
{% include loader.html %}

{% highlight js %}
<script>
    var ITSA = require('itsa'),
        {{ page.itsaclassname }} = ITSA.{{ page.itsaclassname }};
</script>
{% endhighlight %}
