<h1>version 0.0.4</h1>

<h2><a href="../{{ page.subfolder }}drag-drop/index.html">drag-drop<span class="version">version 0.0.1</span></a></h2>
<p>
    <ul>
        <li>Created module drag-drop</li>
    </ul>
</p>

<h2><a href="../{{ page.subfolder }}drag/index.html">drag<span class="version">version 0.0.1</span></a></h2>
<p>
    <ul>
        <li>Created module drag</li>
    </ul>
</p>

<h2><a href="../{{ page.subfolder }}event-dom/index.html">event-dom<span class="version">version 0.0.2</span></a></h2>
<p>
    <ul>
        <li>Added Array.event</li>
        <li>Fixed <b>resize</b>-event</li>
    </ul>
</p>

<h2><a href="../{{ page.subfolder }}js-ext/index.html">js-ext<span class="version">version 0.0.2</span></a></h2>
<p>
    <ul>
        <li>Added String.endsWith</li>
        <li>Added String.startsWith</li>
        <li>Added String.substitute</li>
        <li>Added String.toDate</li>
        <li>Added String.trim</li>
        <li>Added String.trimLeft</li>
        <li>Added String.trimRight</li>
        <li>Added String.validateEmail</li>
        <li>Added String.validateFloat</li>
        <li>Added String.validateHexaColor</li>
        <li>Added String.validateURL</li>
        <li>Added Array.inArray</li>
        <li>Added Array.remove</li>
        <li>Added Array.shuffle</li>
    </ul>
</p>


<h1>version 0.0.3</h1>

<h2><a href="../{{ page.subfolder }}event/index.html">event<span class="version">version 0.0.2</span></a></h2>
<p>
    <ul>
        <li>Added this:eventName to support listeners to themselves</li>
    </ul>
</p>


<h1>version 0.0.2</h1>

<h2><a href="../{{ page.subfolder }}io/index.html">io<span class="version">version 0.0.2</span></a></h2>
<p>
    <ul>
        <li>Streamback-fns: Parsing the data in right format - in case of IO.getXML() and IO.read()</li>
    </ul>
</p>


<h2><a href="../{{ page.subfolder }}polyfill/index.html">polyfill<span class="version">version 0.0.2</span></a></h2>
<p>
    <ul>
        <li>added JSON.parse and JSON.stringify to <b>polyfill</b></li>
        <li>created <b>polyfill-base.js</b> which polyfills <i>Function</i> and <i>Object</i></li>
    </ul>
</p>


<h1>version 0.0.1</h1>
<p>
    <ul>
        <li>First release</li>
    </ul>
</p>
