.contributor-options {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    left: 50%;
    width: 25em;
    margin-left: -12em;
    position: relative;
}
.contributor-options a.pure-button {
    margin: 1em 0;
    font-size: 1.4em;
    display: block;
    width: 12em;
}
.center {
    margin-top: 4em;
    padding: 1.5em;
    text-align: center;
}