<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
        <link rel="stylesheet" type="text/css" href="../assets/syntax.css" media="screen">
        <link rel="stylesheet" type="text/css" href="../assets/main.css">
        <link rel="stylesheet" type="text/css" href="../assets/home.css">
        <link rel="stylesheet" type="text/css" href="../assets/pages.css">
    </head>
    <body>
        {% include header.html %}
        <div class="subheader">
            <a href="../index.html">home</a><br>
            <a href="../userguide/index.html">userguides</a>
        </div>
        <div class="body-content customized-build">
            {{ content }}
        </div>
        {% include footer.html %}
    </body>
</html>
