<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="../../assets/pure.css">
        <link rel="stylesheet" type="text/css" href="../../assets/syntax.css" media="screen">
        <link rel="stylesheet" type="text/css" href="../../assets/main.css">
        <link rel="stylesheet" type="text/css" href="../../assets/module.css">
        <link rel="stylesheet" type="text/css" href="../../assets/history.css">
    </head>
    <body>
        {% include moduleheader.html %}
        <div class="module-description pure-g">
            <div class="pure-u-3-4">
                module: <a href="./index.html">{{ page.module }}</a>
            </div>
            <div class="pure-u-1-4">
                <a href="../../index.html">home</a>
                <br>
                <a href="../../modules/index.html">all modules</a>
            </div>
        </div>
        <div class="body-content module history">
            <h1 class="title">History {{ page.module }}</h1>
            {{ content }}
        </div>
        {% include footer.html %}
    </body>
</html>
