<!DOCTYPE HTML>
<html>
    <head>
        <title>Project Member</title>
        <link rel="stylesheet" href="../assets/pure.css">
        <link rel="stylesheet" type="text/css" href="../assets/syntax.css" media="screen">
        <link rel="stylesheet" type="text/css" href="../assets/main.css">
        <link rel="stylesheet" type="text/css" href="../assets/module.css">
        <link rel="stylesheet" type="text/css" href="../assets/history.css">
    </head>
    <body>

<h1 class="header"><img src="../assets/itsa-logo.png" />History ITSA modules</h1>

<div class="subheader">
    <a href="../index.html">home</a>
</div>


<div class="body-content module history">

{{ content }}

</div>
    </body>
</html>