<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="../assets/pure.css">
        <link rel="stylesheet" type="text/css" href="../assets/syntax.css" media="screen">
        <link rel="stylesheet" type="text/css" href="../assets/main.css">
        <link rel="stylesheet" type="text/css" href="../assets/modules.css">
    </head>
    <body>
        {% include header.html %}
        <div class="subheader">
            <a href="../index.html">home</a><br>
            <a href="../userguide/index.html">userguides</a>
        </div>
        <div class="body-content modules">
            {{ content }}
            <ul class="userguide-list">{% for files in site.docs %}{% assign fragments = files.url | split: '/' %}{% assign filename = fragments.last %}{% if filename == 'index.html' %}
                <li>
                    {% if files.functionality %}
                        {% assign modulename = files.functionality %}
                        {% assign partof = '<span class="functionality">(' | append: files.module | append: ')</span>' %}
                    {% else %}
                        {% assign modulename = files.module %}
                        {% assign partof = '' %}
                    {% endif %}
                  <a class="pure-button pure-button-bordered"  href="..{{ files.url }}">{{ modulename }}{{ partof }}</a>
                </li>{% endif %}{% endfor %}
            </ul>
        </div>
        {% include footer.html %}
    </body>
</html>
