<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
        <link rel="stylesheet" type="text/css" href="../assets/main.css">
        <link rel="stylesheet" type="text/css" href="../assets/contribution.css">
    </head>
    <body>
        {% include header.html %}
        <div class="subheader">
            <a href="../index.html">home</a>
        </div>
        <div class="body-content">
        {{ content }}
        </div>
        {% include footer.html %}
    </body>
</html>