<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="../assets/pure.css">
        <link rel="stylesheet" type="text/css" href="../assets/syntax.css" media="screen">
        <link rel="stylesheet" type="text/css" href="../assets/main.css">
        <link rel="stylesheet" type="text/css" href="../assets/pages.css">
    </head>
    <body>
        {% include header.html %}
        <div class="subheader">
            <a href="../index.html">home</a>
        </div>
        <div class="body-content userguide">
            {{ content }}
        </div>
        {% include footer.html %}
    </body>
</html>
